{% extends "@templates/base.twig" %}

{% block content %}
<div class="page-container" data-node-type="home" id="page-container-{{post.slug}}" data-is-home="1">

	<div class="page-content page-content-{{post.post_type}}" id="{{post.slug}}-content">
		<div class="container">
			<h1 class="page-title">{{post.title}}</h1>
			{{post.content}}

			{# Sample posts loop 
			{% for post in posts %}
				<a class="col-xs-12 col-sm-4 post-link post-link-{{ loop.index0 }}" href="{{ function('get_permalink', post.ID) }}">
					<figure class="post-image">
						{% set thumbUrl = post.thumbnail.src('360x360') %}
						<img class="post-img img-responsive" src="{{ thumbUrl }}" alt="{{ post.post_title }}" />
					</figure>
					<div class="post-text">
						<span class="post-date">{{ post.post_date|date('d F Y') }}</span>
						<h3 class="post-title">{{ post.post_title }}</h3>
						<span class="post-excerpt">{{ post.preview.length(25).read_more(false) }}</span>
						<span class="post-categories">
						{% for category in post.categories %}
						<span class="post-category">{% if not loop.first %}, {% endif %}{{ category.name|capitalize }}</span>
						{% endfor %}
						</span>
					</div>
				</a>
			{% endfor %} #}
		</div>
	</div>

</div>
{% endblock %}