{% extends "@templates/base.twig" %}

{% block content %}
<div class="page-container" data-node-type="page" id="page-container-{{post.slug}}" data-is-home="0">

	<div class="page-content-title">
		<div class="container">
			<h1 class="page-title">{{post.title}}</h1>
		</div>
	</div>

	<div class="page-content page-content-{{post.post_type}}" id="{{post.slug}}-content">
		<div class="container">
			{{post.content}}
		</div>
	</div>

</div>
{% endblock %}