{# This file demonstrates using most of the index.twig template and modifying 
   just a small part. See `search.twig` for an example of another approach #}

{% extends "@templates/index.twig" %}

{% block content %}
<div class="page-container" data-node-type="page" id="page-container-{{post.ID}}" data-is-home="0">

  {{ parent() }}
  
  <div class="page-content page-content-{{post.post_type}}" id="{{post.ID}}-content">
    <div class="container">
      <h1 class="page-title">This is my archive</h1>
      {{post.content}}
    </div>
  </div>

</div>

{% endblock %}
