
{% set devMode = (site.url == 'http://localhost/wordpress') ? true : false %}
{% set legalsId = 3 %}

<div id="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col col-xs-12 col-sm-6">
                {# &copy;{{'now' | date('Y') }} #}
                {# Footer widget #}
                {% if footer %}
                    {{ footer }}
                {% endif %}
                {# <a href="{{ fn('get_permalink', legalsId) }}">Mentions légales</a> #}

            </div>
            <div class="footer-col col-xs-12 col-sm-6">
                <h3>Suivez-nous</h3>
                <div class="footer-socials">
                    <a href="https://www.facebook.com" class="footer-social-link" target="_blank">
                        {% include '@templates/svg/use.svg.twig' with {
                            'classes': ['social-icon'],
                            'icon': 'icon-facebook'
                        } only %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="cookiesconsent"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.6/cookieconsent.min.js"></script>

<script>
	var temp = {
		baseUrl: '{{ site.url }}',
		devMode: {{ devMode ? 'true' : 'false' }}
	};

	// Cookie consent
	window.addEventListener('load', function () {
	window.cookieconsent.initialise({
		container: document.getElementById("cookiesconsent"),
		// location: true,
		// revokable: false,
		// law: {
		//     regionalLaw: false,
		// },
		content: {
			message: "En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies à des fins de mesures d’audience.",
			dismiss: "Fermer",
			link: "En savoir plus",
			href: "{{ fn('get_permalink', legalsId) }}"
		}
		})
	});

	// Browser update — www.browser-update.org/customize.html
	var $buoop = {
		vs: {i: 9, f: 15, o: 12.1, s: 5.1, c: 2},
		text: 'Votre navigateur est périmé. Il contient des failles de sécurité et pourrait ne pas afficher certaines fonctionalités de ce site internet. <a href="http://browser-update.org/update-browser.html" target="_blank">Découvrez comment mettre votre navigateur à jour</a>'
	};

	function $buo_f() {
		var e = document.createElement("script");
		e.src = "https://browser-update.org/update.js";
		document.body.appendChild(e);
	}

	try {
		document.addEventListener("DOMContentLoaded", $buo_f, false)
	} catch (e) {
		window.attachEvent("onload", $buo_f)
	}
</script>


<!-- JS scripts inclusions -->
{% if devMode == false %}
<!-- inject:js -->
<script data-main="{{ site.theme.link }}/build/app-ebe4fc380a.min.js" src="//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.22/require.min.js"></script>
<!-- endinject -->
{% else %}
<script data-main="{{ site.theme.link }}/bootstrap.js" src="{{ site.theme.link }}/node_modules/requirejs/require.js"></script>
{% endif %}

