<!DOCTYPE html>
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><!-->
<html
class="no-js no-svg" {{ site.language_attributes }}> <!--<![endif]-->
<head>

	{% set shareImage = site.theme.link ~ '/img/share-image.jpg'  %}
	
	<title>{{ function('wp_title') }} - {{ site.description }}</title>
	{# {{ site.name }} - {{ site.description }} #}

	<meta charset="{{ site.charset }}"/>
	<meta name="description" content="{{ site.description }}">
	<link rel="stylesheet" href="{{ site.theme.link }}/style.css" type="text/css" media="screen"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="author" href="{{ site.theme.link }}/humans.txt"/>

	<!-- Favicon -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ site.theme.link }}/img/favicons/apple-touch-icon.png">
	<link rel="icon" type="image/png" href="{{ site.theme.link }}/img/favicons/favicon-32x32.png" sizes="32x32">
	<link rel="icon" type="image/png" href="{{ site.theme.link }}/img/favicons/favicon-16x16.png" sizes="16x16">
	<link rel="manifest" href="{{ site.theme.link }}/img/favicons/site.webmanifest">
	<link rel="mask-icon" href="{{ site.theme.link }}/img/favicons/safari-pinned-tab.svg" color="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<!-- Facebook  -->
	<meta property="og:title" content="TimberBaseTheme - SiteDescription"/>
	<meta property="og:site_name" content="TimberBaseTheme"/>
	<meta property="og:description" content="TimberBaseTheme - SiteDescription"/>
	<meta property="og:url" content="http://www.url.com"/>
	<meta property="og:image" content="{{ shareImage }}"/>
	<meta
	property="og:type" content="website"/>
	<!-- Twitter  -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:title" content="TimberBaseTheme - SiteDescription"/>
	<meta name="twitter:description" content="TimberBaseTheme - SiteDescription"/>
	{# <meta name="twitter:site" content="@twitteraccount"/> #}
	<meta name="twitter:url" content="http://www.url.com"/>
	<meta name="twitter:image" content="{{ shareImage }}"/>

	{# {{function('wp_head')}} #}

	<!--
	# Gulp injected styles
	# Using gulp-inject
	# @see gulp-tasks/inject.js
	-->
	<!-- inject:css -->
	<link rel="stylesheet" href="{{ site.theme.link }}/css/vendor-ca20979732.css"> 
	<link rel="stylesheet" href="{{ site.theme.link }}/css/style-ba992f61b0.css">
	<!-- endinject -->

	<script src="{{ site.theme.link }}/vendor/modernizr-custom.js"></script>

</head>
