<!DOCTYPE html>
<html class="no-js" {{ site.language_attributes }} itemscope itemtype="http://schema.org/WebPage">
    <head>

    {# <meta name="robots" content="noindex, nofollow" /> #}

    {% set shareImage = site.theme.link ~ '/img/share-image.jpg'  %}
    {% set shareUrl = site.home_url %}
    {% if post %}
        {% if post.thumbnail %}
            {% set shareImage = post.thumbnail.src('1200x630')  %}
        {% endif %}
        {% set shareUrl = fn('get_permalink',post.id) %}
        {# {% if post.meta('share_image') %}
            {% set shareImage = post.meta('share_image')  %}
        {% endif %} #}
    {% endif %}

    {% set title = fn('get_the_title') %}
    {% set desc = site.description %}
    {# {% if not title %}
        {% set title = site.title %}
    {% endif %} #}
    {# {% set desc = 'Force desc' %} #}
    {% if post and fn('get_post_meta',post.id, '_yoast_wpseo_metadesc', true) %}
        {% set desc = fn('get_post_meta',post.id, '_yoast_wpseo_metadesc', true) %}
    {% endif %}

    {# fn('wp_title') #}
    <title>{{ site.title }}{% if title %} - {{ title }}{% endif %}{% if desc %} - {{ desc }}{% endif %}</title>

    <meta charset="{{ site.charset }}">
    <meta name="description" content="{{ desc }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="author" href="{{ site.theme.link }}/humans.txt">

    <!-- Favicon -->
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg"/>
    <link rel="shortcut icon" href="/favicon.ico"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
    <meta name="apple-mobile-web-app-title" content="TimberBaseTheme"/>
    <link rel="manifest" href="/site.webmanifest"/>

    <!-- Facebook  -->
    <meta property="og:title" content="TimberBaseTheme - SiteDescription">
    <meta property="og:site_name" content="TimberBaseTheme">
    <meta property="og:description" content="{{ desc }}">
    <meta property="og:url" content="{{ shareUrl }}">
    <meta property="og:image" content="{{ shareImage }}">
    <meta property="og:type" content="website">
    <!-- Twitter  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="TimberBaseTheme - SiteDescription">
    <meta name="twitter:description" content="{{ desc }}">
    {# <meta name="twitter:site" content="@twitteraccount"> #}
    <meta name="twitter:url" content="{{ shareUrl }}">
    <meta name="twitter:image" content="{{ shareImage }}">

    {# {{ fn('wp_head') }} #}

    <!--
    # Gulp injected styles
    # Using gulp-inject
    # @see gulp-tasks/inject.js
    -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{{ site.theme.link }}/css/vendor-2f5a88b62c.css">
    <link rel="stylesheet" href="{{ site.theme.link }}/css/style-e773c13e2a.css">
    <!-- endinject -->

    {# {% set gtagId = '' %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtagId }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config','{{ gtagId }}');
    </script> #}

    <script src="{{ site.theme.link }}/vendor/modernizr-custom.js"></script>

</head>
